@media screen and (max-width: 1440px){
  #hero{
    padding-bottom: 300px;
  }
}
@media screen and (max-width: 1024px){
  .wrap-portofolio .image-porto{
    justify-content: center;
  }
  #hero{
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 768px) {
  /* hero */
  .wrap-hero{
    flex-direction: column;
    gap: 30px;
  }
  .wrap-hero .hero-left{
    align-items: center;
  }
   .hero-right{
    width: 250px;
    height: auto;
    padding-bottom: 50px;
  }
  .hero-right img{
    width: 100%;
    height: auto;
  }
  .container {
    padding-inline: 50px;
  }
  .top {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .wrapp-contact .content-top{
    font-size: 70px;
  }
  .wrapp-contact .content-top h4{
    font-size: 30px;
  }

  /* Footer */

}
@media screen and (max-width: 425px) {
  .container {
    padding-inline: 30px;
  }
  .wrap-hero .hero-left .skill{
    font-size: 20px;
  }
  .wrap-hero .hero-left h3{
    text-align: center;
  }
  .right {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .sub-kategori {
    text-align: center;
  }
  /* About Me */
  .wrap-about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrap-about .content-left {
    width: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .wrap-about .content-right {
    width: 242px;
  }

  .wrap-portofolio .list-porto{
    gap: 20px;
    flex-wrap: wrap;
  }
  .wrap-portofolio .image-porto{
    justify-content: center;
  }

  .wrapp-contact .content-bottom .row{
    justify-content: center;
  }

  .wrapp-contact .content-top{
    font-size: 50px;
  }
  .wrapp-contact .content-top h4{
    font-size: 15px;
  }

}

@media screen and (max-width: 375px) {
  .wrap-hero .hero-left h3{
    text-align: center;
    font-size: 30px;
  }
  .wrap-hero .hero-left .skill{
    font-size: 16px;
  }
  .hero-left span{
    font-size: 20px;
  }
}

@media screen and (max-width: 320px){
  .container{
    padding-inline:20px;
  }
  .wrap-portofolio .image-porto img{
    width: 100%;
    height: auto;
  }

}