@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Average+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary: #7a231d;
  --secondary: #eccbc8;
  --light: #f8f6f6;
  --black: #0c0c0c;
  --abu: #efefef;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 95px;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
/* style navbar */
nav {
  background-color: var(--primary);
}
.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-block: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .container {
  position: relative;
}

.nav .nav-brand {
  display: inline-flex;
}
.nav .nav-brand img {
  max-width: 200px;
  width: 100%;
}

.nav .nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav a {
  color: var(--light);
  font-size: 20px;
  font-family: "Average Sans", sans-serif;
}
.close-menu,
.menu-open {
  display: none;
  color: var(--secondary);
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .menu-open {
    display: block;
  }
  .nav-menu a{
    color: var(--black);
  }
  .nav-menu {
    position: fixed;
    z-index: 10;
    top: 79px;
    width: 100%;
    left: -100%;
    height: 50%;
    padding-inline: 20px;
    text-align: center;
    background: var(--secondary);
    flex-direction: column;
    transition: left 0.5s ease;
    gap: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .nav-menu.active {
    left: 0px;
  }
  .menu-open.hide {
    display: none;
  }
  .close-menu.show {
    display: block;
    color: var(--secondary);
    font-size: 20px;
  }
}
/* close navbar style */

/* Hero */
#hero {
  background: url(/src/images/Vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* #hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(/src/images/Vector.png);
  background-size: contain;
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  z-index: -1;
} */

.wrap-hero {
  display: flex;
  justify-content: space-between;
  padding-block: 50px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-left span {
  font-size: 40px;
  font-family: "Autour One", system-ui;
  color: var(--light);
}

.hero-left h3 {
  font-size: 50px;
  color: var(--primary);
}

.hero-left .skill {
  background-color: var(--primary);
  font-size: 24px;
  padding: 10px;
  color: var(--light);
  width: fit-content;
}
.hero-right{
  width: 300px;
  height: 300px;
}
.hero-right img{
  width: 100%;
  height: auto;
}
/* end styling hero */

/* about me */
#about-me, #portofolio, #skills{
  margin-block: 50px;
}
.wrap-about{
    display: flex;
    justify-content: space-between;
    gap: 30px
}
.wrap-about .content-left{
    width: 642px;
}
.wrap-about .content-left h3, .wrap-about .content-right h3{
    font-size: 40px;
    color: var(--black);
    margin-bottom: 15px;
}
.wrap-about .content-left p{
    font-size: 25px;
    color: #9A3831;
}

.wrap-about .content-right{
    width: 410px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.wrap-about .content-right span{
    width: 300px;
    font-size: 20px;
    color: #9A3831;
    text-align: center;
}


/* Portofolio */
.wrap-portofolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.wrap-portofolio h3{
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #7A231D;
}
.wrap-portofolio .list-porto{
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;

}
.wrap-portofolio .list-porto a{
  color: var(--black);
}
.wrap-portofolio .list-porto .active{
  font-weight: bold;
}
.wrap-portofolio .image-porto{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 20px;
  flex-wrap: wrap;
}
.btn-porto a{
  padding: 10px;
  background-color: #E9BCB9;
  border-radius: 50px;
  padding : inline 15px;
  color: var(--black);

}

/* end style portofolio */

/* Software Skills */
.wrap-skills h3{
  font-size: 50px;
  color: var(--black);
  font-family: "Roboto", sans-serif;
  text-align: center;

}
.wrap-skills .col-logo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.wrap-skills 
.software{
  font-family: "Roboto", sans-serif;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.software .logo-skills{
  width: 140px;
  height: auto;
}
.software .col-skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.software .col-skill span{
  display: block;
}
.software .col-skill .title-skill{
  font-style: italic;
  font-size: 25px;
}
.software .col-skill .persen-skill{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* end style software  */
/* Style Contact */
#contact {
  background: url(/src/images/contact.png) no-repeat center top;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 20px;
  margin-top: 50px; /* Adds more space above the section */
  
}
.wrapp-contact .content-top{
  font-family: "Road Rage", sans-serif;
  font-size: 80px;
  color: var(--primary);
  text-align: center;
}
.wrapp-contact .content-top h4{
  color: var(--black);
  font-family: "Autour One", system-ui;
  font-size: 40px;
}
.wrapp-contact .content-bottom .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
}
.wrapp-contact .content-bottom .row .call{
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.wrapp-contact .content-bottom .row .call a i{
  font-size: 50px;
  text-align: center;
  color: var(--light);
}


/* Footer style */
footer {
  background-color: var(--abu);
}
.footer {
  padding-block: 30px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.left .sosmed a {
  font-size: 40px;
  color: var(--black);
  margin-right: 10px;
}

.right {
  display: flex;
  gap: 100px;
}

.wrap-kategori {
  display: flex;
  flex-direction: column;
}
.kategori h5 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.sub-kategori {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sub-kategori a {
  color: var(--black);
  font-size: 25px;
}

.bottom {
  background-color: var(--primary);
  padding-block: 20px;
}
.bottom p {
  color: var(--light);
  text-align: center;
}



/* end styling footer */
